// Place all the styles related to the Attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imageBox {display: inline-block;
border: 1px solid grey;
background: white;
padding: 4px;
text-align: left;
font-size: 15px;}